---
import FaIcon from '../icons/FaIcon.vue';

interface Props {
    icon: string
}

const { icon } = Astro.props as Props;
---
<div>
    <FaIcon
        color="#ba494b"
        size="24 24"
        draw={icon} />
</div>

<style lang="scss">
@import '../scss/globals.scss';

div {
    @extend .flex-centered;
    background-color: $accent-light;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;

    &:hover {
        cursor: pointer;
        svg {
            @extend .transitioner-25;
            @include platformize(transform, translateY(-2px));
        }
    }
}
</style>