---
import Base from '../layouts/Base.astro';
import Backton from '../fragments/Backton.astro';
---
<Base title="New Comic">
    <main class="columned">
        <section class="tabs sidebar">
            <div>
                <Backton color="#ffffff" href="/" />
            </div>
            <div>
                <h1>Add Comic</h1>
            </div>
        </section>
        <section class="forms">

        </section>
    </main>
</Base>

<style lang="scss">
@import "../scss/variables";
@import "../scss/globals";

section.forms {
    flex: 3;
}
</style>