---
// Components
import Base from '../layouts/Base.astro';
import Backton from '../fragments/Backton.astro';
import Toggler from '../components/Toggler.vue';

// Queries
import { gqlFetch } from '../graphql/client.js';
import { getComicTypes } from '../graphql/queries.js';

// Query call
const {
    data: {
        types: {
            data: options
        }
    }
} = await gqlFetch(getComicTypes());
---
<Base title="New Comic">
    <main class="columned">
        <section class="tabs sidebar">
            <div>
                <Backton color="#ffffff" href="/" />
            </div>
            <div>
                <h1>Add Comic</h1>
                <p>Please fill the required details and ensure you have enetered the correct source for the comic, preferably kissmanga links. <br /><br /> More scrappers will be supported in the future so please be on the lookout for newer releases in the GitHub page.</p>
            </div>
        </section>
        <section class="forms flex-centered">
            <form name="add">
                <fieldset>
                    <div class="field-row">
                        <input type="text" class="big" name="title" placeholder="Comic Name" />
                        <input type="text" class="big" name="author" placeholder="Author Name" />
                        <input type="text" class="big" name="publisher" placeholder="Publisher Name" />
                    </div>
                    <div class="field-row">
                        <textarea name="synopsis" placeholder="Enter Synopsis Here"></textarea>
                    </div>
                    <div class="field-row">
                        <input type="date" class="big" name="published">
                        <select name="type" class="big">
                            <option>Select a type</option>
                            {options.map((option: string) =>
                                <option>{option}</option>
                            )}
                        </select>
                    </div>
                </fieldset>
                <fieldset>
                    <div class="field-row">
                        <Toggler client:load right="Completed" left="Ongoing" />
                        <input type="text" class="big" name="source" placeholder="Source Link" />
                    </div>
                </fieldset>
            </form>
        </section>
    </main>
</Base>

<style lang="scss">
@import "../scss/variables";
@import "../scss/globals";

section.forms {
    flex: 3;

    textarea {
        resize: none;
        padding: 24px;
        height: 120px;
        font-size: 1.1em;
    }
}
</style>