---
// Components
import Base from '../layouts/Base.astro';
import Texicon from '../fragments/Texicon.astro';

// Icon
import FaIcon from '../icons/FaIcon.vue';
import { lens } from '../icons/faicons.json';

// Queries
import { gqlFetch } from '../graphql/client.js';
import { getComicTitles } from '../graphql/queries.js';

const {
    data: {
        titles: {
            data: comics
        }
    }
} = await gqlFetch(getComicTitles());
---
<Base title="Home">
    <main>
        <section class="head">
            <img src="/assets/astrocom.png" alt="Logo">
        </section>
        <section class="strip">
            {comics.map(({title, code}) => (
                <Texicon title={title} href={`/comics/${code}`} />
            ))}
        </section>
        <section class="search">
            <input type="text" class="big" placeholder="Search">
            <div>
                <FaIcon
                    color="#686868"
                    size="24 20"
                    draw={lens} />
            </div>
        </section>
    </main>
</Base>

<style lang="scss">
@import "../scss/variables";
@import "../scss/globals";

main {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    @extend .flex-centered;
    flex-direction: column;
    gap: 5rem;
}
section {
    &.head {
        height: 15rem;
        text-align: center;

        img {
            height: 100%;
        }
    }
    &.strip {
        @extend .flex-centered;
        gap: 2rem;
    }
    &.search {
        display: flex;
        flex-direction: row;
        padding-left: 35px;

        div {
                @extend .flex-centered;
                margin: 5px;
                padding: 0 24px;
                background: $background-light-b;
                border-radius: 0 16px 16px 0;
                transform: translateX(-35px);

                @media (prefers-color-scheme: dark) {
                    background: $background-dark-b;
                }
        }
    }
}
</style>