---
const placeholder: string = "Enter Code"
---

<div id="code">
    <button
    type="button"
    id="codeFAB"
    class="code-fab">
        &lt;/&gt;
    </button>
    <input 
        type="text" 
        name="code-text" 
        id="codeText" 
        class="code-text"
        placeholder={placeholder} />
</div>

<style lang="scss">
@import "../scss/variables";

#code {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    background: $primary-light;
    border-radius: 30px;
    height: 60px;
    width: 60px;

    button {
        background: none;
        padding: 10px;
        border: none;
        color: $primary-dark;
        font-weight: 900;
        vertical-align: center;
        height: 100%;
        width: 100%;
    }

    input {
        border: none;
        padding: 10px;
        visibility: hidden;
        height: 100%;
        width: 0;

        &:focus, &:active {
            outline: none;
        }
    }

    button, input, input::placeholder {
        font-weight: 600;
        font-size: 1.1em;
    }
}
</style>