@mixin styledButton($color, $text, $hover) {
    background: $color;
    border: 1px solid $color;
    color: $text;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 5px 5px $hover;
    }

    &:focus, &:focus-within {
        outline: none;
    }

    @media (prefers-color-scheme: dark) {
        button {
            background: $primary-dark;
            border-color: $primary-dark;
            color: $color;
        }
    }    
}

@mixin platformize($property, $value) {
    #{$property}: #{$value};
    -o-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -webkit-#{$property}: #{$value};
}

input[type="text"], button {
    height: 50px;
    margin: 5px;
    border-radius: var(--border-radius);
    font-size: 0.9em;
    @extend .transitioner-25;
}

input[type="text"] {
    width: 150px;
    padding-left: 24px;
    background: $background-light-b;
    border: 1px solid transparent;

    &.small {
        width: 100px;
    }

    &.big {
        font-size: 1.1em;
        width: 350px;
        height: 70px !important;

        &::placeholder {
            font-size: 1.1em;
        }
    }

    &:hover, &:focus {
        background: white;
        border: 1px solid $border;
        outline: none;
        color: $muted;

        & + div {
            border: 1px solid $border;
            border-left: 0px !important;
        }

    }

    @media (prefers-color-scheme: dark) {
        &:hover, &:focus {
            background: $background-dark;
            border-color: $gray-100;
            color: white;

            & + div {
                border-color: $gray-100;
            }
        }
    }

    &.error {
        background: $accent-light;
        color: $accent-dark;

        &:hover, &:focus {
            border: 1px solid $accent-dark;
        }

        &::placeholder {
            color: $accent-dark;
        }
    }
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
}

.tag {
    padding: 8px 16px;
    border-radius: var(--border-radius);
    font-weight: 700;

    &--primary {
        background-color: $primary-light;
        color: $primary-dark;
    }

    &--primary-dark {
        background-color: $primary-dark;
        color: white;
    }

    &--secondary {
        background-color: $secondary-light;
        color: $secondary-dark;
    }

    &--secondary-dark {
        background-color: $secondary-dark;
        color: white;
    }
    
    &--accent {
        background-color: $accent-light;
        color: $accent-dark;
    }

    &--accent-dark {
        background-color: $accent-dark;
        color: white;
    }
}

.transitioner-25 {
    @include platformize(transition, all 0.25s linear);
}

button.btn {
    aspect-ratio: 1;
    @extend .flex-centered;

    &--primary {
        @include styledButton($primary-light, $primary-dark, $primary-light-50);
    }

    &--secondary {
        @include styledButton($secondary-light, $secondary-dark, $secondary-light-50);
    }
}

@media (prefers-color-scheme: dark) {
    input[type="text"] {
        background: $background-dark-b;
    }
}