$primary-light: rgb(182, 248, 209);
$primary-dark: rgb(44, 124, 84);
$secondary-light: rgb(138, 170, 223);
$secondary-dark: rgb(76, 89, 144);
$accent-light: rgb(252, 185, 178);
$accent-dark: rgb(186, 73, 75);
$muted: rgb(68, 68, 68);

// Translucents
$primary-light-50: rgba(182, 248, 209, .5);
$primary-dark-50: rgb(44, 124, 84, .5);
$secondary-light-50: rgb(138, 170, 223, .5);
$secondary-dark-50: rgb(76, 89, 144, .5);
$accent-light-50: rgba(252, 185, 178, .5);
$accent-dark-50: rgba(186, 73, 75, .5);
$muted-50: rgb(68, 68, 68, .5);

// Grays
$gray-100: #424242;
$gray-200: #535353;
$gray-300: #646464;
$gray-400: #757575;
$gray-500: #868686;
$gray-600: #979797;
$gray-700: #a8a8a8;
$gray-800: #b9b9b9;
$gray-900: #d1d1d1;
$gray-1000: #f2f2f2;

// Background
$background-light: rgb(255, 255, 255);
$background-dark: rgb(17, 24, 39);

$background-light-b: rgb(244, 244, 244);
$background-dark-b: rgb(27, 35, 53);

$background-gradient-dark: linear-gradient(to left bottom, #4c5990, #74538f, #964a81, #af4569, #ba494b);
$background-gradient-light: linear-gradient(to left bottom, #8aaadf, #b8a9de, #dca9d2, #f3afc2, #fcb9b2);

// Borders
$border: #b4b4b4;